img{
    border-radius:1rem;
}

.carouselContainer {
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(3, 1fr);
    max-height: 10rem;
    min-width: 40rem;
    margin: 10% 10%;
}

.chosen {
    width:30rem;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}

.chosen img {
    margin-top:2rem;
}

.imgContainer{
    filter: grayscale();
}





