* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.formsContainer {
    max-width: 40rem;
    justify-content: center;
    margin: 3rem auto;
    padding: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
h1 {
    margin-bottom: 0.1rem;
    color: rgb(72, 72, 72);
}

.forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input,
select,
button {
    padding: 0.3rem;
    font-weight: normal;
    color: rgb(72, 72, 72);
}

.try {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.try span {
    margin-bottom: 0.3rem;
}

.postContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;
    max-width:40rem;
}

.cardUnit {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .5rem;
    padding:.6rem 0.5rem 1rem;
}
