body{
    font-family: 'Sunflower', sans-serif;
    color:rgb(83, 82, 82);
}
a{
    transition:color .2s linear, border .2s linear;
    text-decoration:none;
    color:#49bf9d;
}
img{
    max-width:100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    color:rgb(105, 104, 104);
    margin:0 0 1em;
}
h1{
    font-size:36px;
}
h2{
    font-size:30px;
}
h3{
    font-size:26px;
}
h4{
    font-size:20px;
}
h5{
    font-size:16px;
}
h6{
    font-size:14px;
}
sup,sub{
    font-size:12;
}
blockquote{
    border-left:5px solid rgb(150, 147, 147);
    padding:.5em 0 .5em 1.5em;
    margin:2em 0;
}
p{
    margin:0 0 2em;
}
.heads{
    position:fixed;
    text-align:right;
    top:0;
    left:0;
    width:35%;
    height:100%;
    padding:132px 35px;
    box-sizing:border-box;
    background-image:url(../imagens/overlay.png), url(../imagens/bg.jpg);
    background-position:top left;
    background-size:auto, cover;

}
.heads-tittle{
    font-size:25px;
    line-height:1.5;
    color:rgb(61, 60, 60);
    }
.heads-tittle strong{
    color:white;
    font-weight:strong;
}
.heads-link{
    color:inherit;
}
.heads-link img{
    border-radius:75px;
}
.heads-link:hover{
    color:rgb(56, 102, 90);
    text-decoration-style:solid 2px green;

}
.recent-works img{
    border-radius:15px;
    width:550px;
}
.row{
    overflow:auto;
}
.colu1{
    width:60%;
    float: left;

}
.colu2{
    margin-left:10%;
    float:left;
    width:30%;
    margin-bottom:300px;
}
input[type="text"],input[type="email"], label, textarea{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
}
input, textarea, select{
    background-color:rgb(214, 209, 209);
    border-radius:5px;
    padding:13px;
    border:none;
}
textarea[id="area2"]{
    margin:10px 0;
}

input:focus, textarea:focus{
        border:2px solid #49bf9d;
        outline:none;
}
textarea{
    height:10em;
}
.main_content{
    width:65%;
    margin-left:35%;
    padding:132px 35px;
    box-sizing:border-box;
    line-height:1.7;
}

.form-section{
    display:inline-block;
    margin:100px 0;
}


.coding{
    background-color:rgba(235, 225, 225, 0.473);
    border:1px solid rgb(161, 156, 156);
    border-radius:3px 3px 3px 3px;
    font-family: "courier new", monospace;
}
pre{
    background-color:rgba(197, 195, 195, 0.473);
    border:2px solid rgb(90, 88, 88);
    width:500px;
    border-radius:25px 25px 25px 25px;
}
pre code{
    font-family: "courier new", monospace;
}
.icons{
    font-size:20px;
    list-style-type:none;
}
.icons li{
    display:inline-block;
    padding:10px 7px;
}
.row{
    overflow:auto;
}
.col2{
    width:48%;
    float:left;
    margin:10px 10px;
}
.col3{
    width:30%;
    float:left;
    margin:1%;
}
.col3 img{
    border-radius:10px;
}
.col2-img{
    width:50%;
    float:left;
    text-align:center;
}
.galeria-img img{
    width:94%;
    margin-left:1%;
}
.p-strong{
    font-size:22px;
    margin-bottom:10px;
    font-weight:normal;
}
.p-weak{
    padding-top:0;
    margin:0 0 40px 0;
    line-height:5px;
}
.col2:first-child{
    margin-right:1%;
}
.col:last-child{
    margin-left:1%;
}

.button-default{
    background-color:rgb(41, 173, 136);
    border:1px solid #49bf9d; 
    border-radius:3px;
    padding:.75em 2em;
    margin:20px 0px;
    color:white;
    display:inline-block;
    width:auto;
    transition:all .2s;
    cursor:pointer;
}
.button-default:hover{
    background-color:rgb(73, 189, 156);
}
.button-default-stroke{
    color:black;
    background-color:white;
    border:1px solid grey; 
}
.button-default-stroke:hover{
    background-color:white;
    border:2px solid #49bf9d;
    color:#49bf9d;
}
.button-small{
    font-size:.84em;
}
.button-big{
    font-size:1em;
    width:20%;
}
.button-full{
    text-align:center;
    width: 30%;
}
caption{
    color:rgb(41, 40, 40);
    font-weight:bold;
}
.tab{
    width:75%;
    margin:10px 10px; 
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-collapse:collapse;
}
.tab td{
    padding:.35em;
}
.tab td:nth-child(2){
    padding-right:80px;
}
.tab td:nth-child(2){
    border-left:1px solid black;
    border-right:1px solid black;
}
.tab th{
    text-align:left;
    border-bottom:2px solid black;
}
.c1{
    background-color:rgba(172, 167, 167, 0.521);
}
.c2{
    background-color:white;
}
tfoot{
    border-top:2px solid black;
    text-align:right;
}
textarea{
    resize:none;
}
.left{
    float:left;
    border-radius:50%;
}
.right{
    border-radius:50%;
    float:right;
}
.foots{
    text-align:right;
    bottom:0;
    left:0;
    width:35%;
    padding:40px 35px;
    box-sizing:border-box;
    position:fixed;
}
.copy{
    color:rgb(105, 104, 104);
}
.copy a{
    color:inherit;
}
.copy a:hover{
    color:#49bf9d;
}
.copy li{
    display:inline-block;
    padding:0 7px;
}
.copy li:nth-child(1){
    border-right:1px solid rgb(105, 104, 104);
}
select{
    outline:none;
    border:none;
}
