body{
    background-color:black;
    color:white;
}
ul{
    list-style:none;
}
.header{
    display:block;
}
input[type=text]{
    display:block;
    background-color:grey;
    margin:2em 0;
    width:100px;
}
button{
    width:108px;
    padding:0;
    text-align:center;
}
.danger{
    text-transform: capitalize;
    background-color: transparent;
    color:red;
    border-radius:10px;
    border:1px solid red;
    transition: all .3s;
}
.danger:hover{
    background-color:red;
    color:black;
}