
.formsSection{
    margin:3rem 0 1rem 2rem;
    /* width:70%; */
    display:grid;
    grid-template-columns: 42% 42%;
    gap:6%;
}

.formsSide{
    width:30rem;
    float:left;
}

.formsSide input, textarea{
    padding:.45rem;
    font-family: inherit;
    display:flex;
    flex-direction: column;
    resize:none;
    margin:.35rem 2rem 1rem 0;
    width: 30rem;
    
}

.formsButton{
    border-radius: .35rem;
    margin-top:1rem;
    background-color: var(--green-10);
    text-decoration: none;
    color:#fff;
    padding:.35rem;
    border: 1px solid var(--green-10)
}

.formsButton:hover{
    background-color: var(--green-20);
}

.resultSide{
    float:right;
    margin:2rem 0 0 10rem;
    text-align:left;
    max-width: 100%;
}

.resultsContainer{
    text-align: left;
    border:1px solid rgb(117, 115, 115);
    border-radius: .75rem;
    width: 100%;
    padding:.5rem;
    filter: blur();
}


/* .resultSide b{
    color:var(--gray-100)
}

.resultSide p{
    padding:.75rem;
    border:.5px solid var(--gray-700);
    border-radius:.75rem;
    background-color:var(--gray-400);
} */