.headTitle{
    margin: 0 0 2rem;
    padding: 7rem  0 1rem 1rem;
}

p{
    padding:1rem;
}

.standardButton {
    border: var(--green-10);
    background-color: var(--green-10);
    text-decoration: none;
    color: var(--gray-100);
    margin: 3rem 0 1rem 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    display: inline-block;
}

.standardButton:hover{
    background-color: var(--green-20);
}

.cardContainer {
    text-align: center;
    justify-content: center;
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    gap: 1rem;
}

.cardsTitle{
    text-align:center;
    margin:.5rem 0;
    padding:0;
}

.cardsP{
    text-align: center;
    padding:0;
}

.card a {
    width: 23%;
}

.card img {
    width: 95%;
    border-radius: 0.75rem;
}
