.sideContainer{
    width:35%;
    height:100vh;
    position:fixed;
    background-color:var(--green-10);
    margin:0;
}

.sideContainer main{
    position:relative;
    width:10rem;
    height:100%;
    text-align: right;
    margin-right:2rem;
    float:right;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

